@model IEnumerable<WeatherApp.Models.NightAndDay>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunrise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moonrise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moonset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => item.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Date)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Sunrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moonrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moonset)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
